.App {
  text-align: center;
}



.sticky-music-controls {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays above other content */
  background-color: #fff; /* Optional: Set a background color to make sure it's visible */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better separation */
}

